<h1>Daftar kota dan daerah madya</h1>

<%= render 'form' %>

<table>
  <tr>
    <th>Madya</th>
    <th>Kota</th>
    <th>Action</th>
  </tr>
  <% for region in @regions %>
    <tr>
      <td><%= region.name %></td>
      <td><%= region.city %></td>
      <td><%= link_to 'Edit', edit_city_region_path(region) %></td>
    </tr>
  <% end %>
</table>

<%= content_tag :div, (link_to 'Back', restaurants_path) %>
