<!DOCTYPE html>
<html>
<head>
  <title>Cares</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.tagit", :media => "all" %>
  <%= stylesheet_link_tag    "tagit.ui-zendesk", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "tag-it.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, message| %>
  <%= content_tag :div, message, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
